@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .block-img {
    @apply block w-full object-cover;
  }

  .section-center {
    @apply w-[90vw] max-w-7xl mx-auto;
  }

  .btn {
    @apply py-2 rounded-md text-white bg-primary transition-all duration-300 hover:bg-primary-light;
  }
}

* {
  font-family: 'Poppins', sans-serif;
}

.login-bg {
  background-image: url('/assets/login-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
